<h1>通知設定</h1>
<%= form_with url: @notification do |f| %>
  月<%= f.check_box :monday %>
  火<%= f.check_box :tuesday %>
  水<%= f.check_box :wednesday %>
  木<%= f.check_box :thursday %>
  金<%= f.check_box :friday %>
  土<%= f.check_box :saturday %>
  日<%= f.check_box :sunday %>

  <%= f.time_field :time %>

  <%= f.submit '設定する' %>
<% end %>
