<h1>通知設定</h1>

<%= form_with model: @notification, local: true do |f| %>
  <% if @notification.id.present? %>
    月<%= f.check_box :monday %>
    火<%= f.check_box :tuesday %>
    水<%= f.check_box :wednesday %>
    木<%= f.check_box :thursday %>
    金<%= f.check_box :friday %>
    土<%= f.check_box :saturday %>
    日<%= f.check_box :sunday %>

    <%= f.time_field :time %>
  <% else %>
    月<%= f.check_box :monday, checked: true %>
    火<%= f.check_box :tuesday, checked: true %>
    水<%= f.check_box :wednesday, checked: true %>
    木<%= f.check_box :thursday, checked: true %>
    金<%= f.check_box :friday, checked: true %>
    土<%= f.check_box :saturday, checked: true %>
    日<%= f.check_box :sunday, checked: true %>

    <%= f.time_field :time, value: '18:00' %>
  <% end %>
    <%= f.submit '設定する' %>
<% end %>
