<h1>通知設定</h1>
<%= form_with model: @notifications, local: true do |f| %>
  月<%= f.check_box :monday,    checked: true %>
  火<%= f.check_box :tuesday,   checked: true %>
  水<%= f.check_box :wednesday, checked: true %>
  木<%= f.check_box :thursday,  checked: true %>
  金<%= f.check_box :friday,    checked: true %>
  土<%= f.check_box :saturday,  checked: true %>
  日<%= f.check_box :sunday,    checked: true %>

  <%= f.time_field :time, value: '18:00' %>

  <%= f.submit '設定する' %>
<% end %>
